body {
  background-color: black;
}

* {
  font-family: "Times New Roman", Times, serif;
}

#main { 
}

#main-content {
  float: left;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
} 

#main-content ul{
  float: left;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
} 


#nav-div {
  background-color: green;
  width: 200px;
  float: left;
}

#nav-div ul {
  list-style-type: none;
  margin-top: 0px;
  margin-bottom: 0px;
}

#nav-preview-div {
  width: 200px;
  float: left;
  background-color: red;
}

#nav-preview-div ul {
  margin-top: 0px;
  margin-bottom: 0px;
  list-style-type: none;
  padding-left: 0px;
}

#nav-div ul li {

}
