{% extends "nav-page-base.j2" %}

{% block css %}
  {{ super () }}
  <link rel="stylesheet" href="{{ media_url('css/about.css') }}">
{% endblock css%}

{% block main %}
  <div id="about-content">
  <div id="top-content">
    <img id="about-image" src="{{ media_url('images/originals/about.jpg') }}">
    <div id="about-text">  
      {% block text %}
      {% endblock text %}
    </div>
  </div>
  <div id="bottom-content">
    {% block accomplishments %}
    {% endblock accomplishments %}
  </div>
  </div>

{% endblock %}
