{% extends "nav-page-base.j2" %}

{% block css %}
  {{ super () }}
  <link rel="stylesheet" href="{{ media_url('css/home.css') }}">
{% endblock css%}


{% block main %}
  <div id="home-video-container">
    <video id="home-video" src="{{ media_url('videos/fuufuDONE.mov')}}"> </video>
  </div>

{% endblock %}
