{% extends "portfolio-page-base.j2" %}
{% from "macros.j2" import render_images with context %}

{% block css %}
  {{ super () }}
  <link rel="stylesheet" href="{{ media_url('css/portfolio.css') }}">
{% endblock css %}

{% block main %}
{{ render_images(resource.node) }}
<div id="image_lightbox"> Wassssupppp </div>

{% endblock main %}
